<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="OAvilaProgramacionencapas" connectionString="Data Source=.;Initial Catalog=OAvilaProgramacionencapas;User ID=sa;Password=pass@word1;Encrypt=False" providerName="System.Data.SqlClient"/>
		<add name="OAvilaProgramacionencapasEntities" connectionString="metadata=res://*/OAvilaProgramacionencapas.csdl|res://*/OAvilaProgramacionencapas.ssdl|res://*/OAvilaProgramacionencapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OAvilaProgramacionencapas;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>